<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.huang_ms.mapper.ProjectMapper">
    <select id="queryProjectList" resultType="com.example.huang_ms.domain.Project">
        SELECT * FROM project ORDER BY id ASC
    </select>
    <select id="queryProjectById" parameterType="int" resultType="com.example.huang_ms.domain.Project">
        SELECT * FROM project WHERE id = #{id}
    </select>
    <insert id="addProject" useGeneratedKeys="true">
        insert into project (project_leader,phone_number,email,project_name,login_date)
        select user_name,phone_number,email,#{project_name},#{login_date} from user
        where user_name = #{leader_name}
    </insert>
    <update id="updateProject">
        update project set
        project_name = #{project_name},
        login_date = #{login_date}
        where id = #{id}
    </update>
    <delete id="deleteProject">
        delete from project where id = #{id}
    </delete>
</mapper>