<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!--设置页面的宽度随着使用者的设备变化二变化 -->
    <meta name="viewport" content="width=device-width,initial-scal=1">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <form class="form-horizontal" th:action="@{/addproperty}" method="post" >
                <!-- 每一个form-group都可以自定义布局-->
                <div class="form-group">
                    <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                    <label class="col-md-2 control-label">license码</label>
                    <select class="form-control" name="license_code">
                        <!--option中循环遍历外键表中取到的session、value为主键  -->
                        <option  th:each="license:${licenses}"
                                 th:value="${license}"
                                 th:text="${license}">
                    </select>
                </div>

                <div class="form-group">
                    <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                    <label class="col-md-2 control-label">MAC地址</label>
                    <div class="col-md-4">
                        <input class="form-control" name="mac_address" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                    <label class="col-md-2 control-label">IP地址</label>
                    <div class="col-md-4">
                        <input class="form-control" name="ip_address" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                    <label class="col-md-2 control-label">所属项目</label>
                    <select class="form-control" name="project_name">
                        <!--option中循环遍历外键表中取到的session、value为主键  -->
                        <option  th:each="project:${projects}"
                                 th:value="${project}"
                                 th:text="${project}">
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input class="btn btn-primary" type="submit" value="提交"/>
                        <input class="btn btn-warning" type="reset" value="重置"/>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div>
</body>
</html>