<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>项目表单</title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
        <h1><a class="btn btn-success" th:href="@{/view/add_project}">添加项目信息</a> </h1>
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>ID编号</th>
            <th>项目名</th>
            <th>项目负责人</th>
            <th>负责人联系电话</th>
            <th>负责人邮箱</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.project_name}"></td>
            <td th:text="${project.project_leader}"></td>
            <td th:text="${project.phone_number}"></td>
            <td th:text="${project.email}"></td>
            <td th:text="${#dates.format(project.login_date, 'yyyy-MM-dd')}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/view/update_project/}+${project.id}">编辑</a>
                <a class="btn btn-danger" th:href="@{/deleteproject/}+${project.id}">删除</a>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>